<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">
        
        
        <!-- 加载db配置文件 -->
		<context:property-placeholder location="classpath:db.properties" />
		
		<!-- 创建c3p0连接池 -->
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			 <property name="driverClass" value="${jdbc.driver}"></property>
	         <property name="jdbcUrl" value="${jdbc.url}"></property>
	         <property name="user" value="${jdbc.username}"></property>
	         <property name="password" value="${jdbc.password}"></property>
		</bean>
		
				<!-- 创建sqlSessionFactory -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
		</bean>
		
				<!-- 批量扫码mapper,在spring容器中自动注册 -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
				<!-- 指定扫描包 -->
				<property name="basePackage" value="com.mapper"></property>
				<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		</bean>
		
		
        </beans>